/* Root variables for color and font definitions */
:root {
  --primary-color: #004c4c;
  --secondary-color: #03a9f4;
  --background-color: #f8f9fa;
  --form-background-color: #ffffff;
  --button-color: #f55e1e;
  --text-color: #2b2d30;
  --error-color: #e74c3c;

  --font-family: "Poppins", sans-serif;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --dark-jungle-green: #004c4c;
  --prussian-blue: #003b5c;
  --raisin-black-1: #1a1d2a;
  --raisin-black-2: #2b2d30;
  --yellow-green: #b9d950;
  --orange-soda: #f55e1e;
  --cultured-1: #ececec;
  --cultured-2: #c9d2d7;
  --misty-rose: #f7e4e5;
  --alice-blue: #f0f8ff;
  --seashell: #fef8f4;
  --cadet: #4b5d7a;
  --white: #ffffff;
  --black: #000000;
  --opal: #6d9e9e;

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --transition: 0.25s ease;

  --section-padding: 100px;

  --shadow-1: 0 5px 20px 0 rgba(21, 24, 33, 0.1);
  --shadow-2: 0 16px 32px rgba(0, 76, 76, 0.1);
}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
ion-icon { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }

ion-icon { pointer-events: none; }

html {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: #ffffff; }

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-left: 2px solid #ffffff;
}


.container { padding-inline: 15px; }

button, a { transition: 0.25s ease; }

.h1,
.h2,
.h3 {
  color: #004c4c;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

.h1 {
  font-size: 1.875rem;
  line-height: 1;
}

.h2 { font-size: 1.5rem; }

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.h3 > a { color: inherit; }

.btn {
  position: relative;
  background: #f55e1e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  text-transform: capitalize;
  border: 1px solid #f55e1e;
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: #000000;
  color: #004c4c;
  border-color: #000000;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: 0.25s ease;
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w-100 { width: 100%; }

.section-subtitle {
  color: #03a9f4;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 5px 20px;
  background: #1a5276;
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.card-badge {
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card-badge.green { background: #b9d950; }

.card-badge.orange { background: #f55e1e; }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: #c9d2d7;
  outline: 2px solid #4b5d7a;
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5d7a;
  border: 1px solid #c9d2d7;
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }



.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background: #003b5c;
  padding-block: 20px;
}

.header-top .container,
.header-top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-top .container { gap: 8px 10px; }

.header-top-list { gap: 10px; }

.header-top-link {
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-top-link:is(:hover, :focus) { color: #03a9f4; }

.header-top-link ion-icon {
  color: #03a9f4;
  font-size: 15px;
  --ionicon-stroke-width: 60px;
}

.header-top .wrapper,
.header-top-social-list {
  display: flex;
  align-items: center;
}

.header-top .wrapper { gap: 20px; }

.header-top-social-list { gap: 8px; }

.header-top-social-link {
  color: #03a9f4;
  font-size: 15px;
}

.header-top-btn {
  background: #03a9f4;
  color: #ffffff;
  font-size: 0.813rem;
  font-weight: 700;
  padding: 4px 15px;
}

.header-bottom {
  background: #d7a320;
  padding-block: 5px;
}

.header-bottom .logo img { 
  width: 220px;
  margin-inline: auto; 
}

.navbar {
  background: #FFFF;
  position: fixed;
  top: 0;
  right: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.navbar.active {
  visibility: visible;
  transform: translateX(310px);
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
}

.navbar-top .logo img { width: 20px; }

.nav-close-btn ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 45px;
  padding: 5px;
}

.navbar-link {
  color: #154360;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.navbar-link:is(:hover, :focus) { color: #03a9f4; }

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
  
}

.header-bottom-actions {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px 10px;
  box-shadow: -2px 0 30px rgba(237, 71, 52, 0.2);
  z-index: 3;
}

.header-bottom-actions-btn ion-icon {
  color: #154360;
  font-size: 20px;
  margin-inline: auto;
  margin-bottom: 5px;
  --ionicon-stroke-width: 40px;
  transition: 0.25s ease;
}

.header-bottom-actions-btn:is(:hover, :focus) ion-icon { color: #03a9f4; }

.header-bottom-actions-btn span {
  color: #5f9ea0;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

/*-----------------------------------*\
  #sign up
\*-----------------------------------*/


.sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  background: url(images/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.Login{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.Login h1{
  font-size: 36px;
  text-align: center;
}
.Login .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.Login .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;

}
.remember-forgot a{
  color: #fff;
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.Login .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.register-link p a{
  color: #d10e0e;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  
}
.register-link p a:hover{
  text-decoration: underline;
}


@media (min-width: 768px) {
  .Login {
    max-width: 750px;
    padding: 30px 40px;
  }
}

@media (min-width: 1200px) {
  .Login {
    max-width: 1550px;
    padding: 40px 50px;
  }
}

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background: linear-gradient(to bottom, #ffffff 50%, #1a1a1a 50%);
}

.cta-card {
  background: #1a5276;
  padding: 50px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.8;
}



/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background: #1a1a1a;
  color: #ffffff;
  margin-bottom: 68px;
}

.footer .container {
  padding-inline: 30px;
}

.footer a {
  color: inherit;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-brand {
  margin-bottom: 70px;
}

.footer-brand .logo img {
  margin-bottom: 15px;
  width: 100px;
}

.section-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.contact-list {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
  text-align: left;
}

.contact-link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-link ion-icon {
  font-size: 18px;
}

.contact-link address,
.contact-link span {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.contact-link:hover span,
.contact-link:focus span {
  color: #29c9f1;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-list:not(:last-child) {
  margin-bottom: 50px;
}

.footer-list-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-link {
  font-size: 1rem;
  padding-block: 10px;
}

.footer-link:hover,
.footer-link:focus {
  color: #02d8f9;
}

.footer-bottom {
  background: #141414;
  padding-block: 25px;
}

.copyright {
  font-size: 1rem;
  text-align: center;
}

.copyright a {
  display: inline-block;
}

.copyright a:hover,
.copyright a:focus {
  color: #02d8f9;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li {
    min-width: calc(50% - 12.5px);
  }
  .navbar {
    flex-direction: column; /* Stack items vertically */
}

.navbar .nav-links {
    flex-direction: column; /* Stack links vertically */
    width: 100%;
}

.navbar a {
    text-align: left; /* Align text to the left */
    padding: 10px 15px;
    border-top: 1px solid #444; /* Optional: Add separation between links */
}

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.5rem;
  }

  /**
   * FOOTER
   */

  .footer-link-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }

  /**
   * HEADER
   */

  .header-top {
    padding-block: 5px;
  }

  .header-top .wrapper {
    margin-left: auto;
  }

  .header-top-social-list {
    gap: 12px;
  }

  .header-top-social-link {
    font-size: 1rem;
  }

  .header-top-btn {
    padding: 10px 20px;
  }

  .header-bottom-actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom-actions-btn ion-icon {
    margin-bottom: 0;
  }

  .header-bottom-actions-btn span {
    display: none;
  }

  .header-bottom-actions-btn {
    background: #ffffff;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.625rem;
  }

  /**
   * FOOTER
   */

  .footer {
    margin-bottom: 0;
  }

}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 970px;
  }

  .btn {
    padding: 15px 40px;
  }

  /**
   * HEADER
   */

  .header-top-list,
  .header-top .wrapper {
    gap: 30px;
  }

  

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card .card-content,
  .cta-btn {
    margin: 0;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer-link-box {
    flex-basis: 550px;
  }

}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1200px;
  }

  .has-scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }

  /**
   * HEADER
   */

  .header-bottom {
    padding-block: 30px;
  }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: #003300;
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header {
    padding-bottom: 114px;
  }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }

  
  /**
   * CTA
   */

  .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }

  /**
   * FOOTER
   */

  .footer {
    --fs-5: 1rem;
  }

  .footer-link-box {
    flex-basis: 700px
