

:root {
  --dark-jungle-green: #004c4c;
  --prussian-blue: #003b5c;
  --raisin-black-1: #1a1d2a;
  --raisin-black-2: #2b2d30;
  --yellow-green: #b9d950;
  --orange-soda: #f55e1e;
  --cultured-1: #ececec;
  --cultured-2: #c9d2d7;
  --misty-rose: #f7e4e5;
  --alice-blue: #f0f8ff;
  --seashell: #fef8f4;
  --cadet: #4b5d7a;
  --white: #ffffff;
  --black: #000000;
  --opal: #6d9e9e;

  --ff-nunito-sans: "Nunito Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.375rem;
  --fs-4: 1.125rem;
  --fs-5: 0.875rem;
  --fs-6: 0.813rem;
  --fs-7: 0.75rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --transition: 0.25s ease;

  --section-padding: 100px;

  --shadow-1: 0 5px 20px 0 rgba(21, 24, 33, 0.1);
  --shadow-2: 0 16px 32px rgba(0, 76, 76, 0.1);
}





/*-----------------------------------*\
  #RESET
\*-----------------------------------*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
button,
ion-icon { display: block; }

button {
  border: none;
  background: none;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

address { font-style: normal; }

ion-icon { pointer-events: none; }

html {
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track { background: #ffffff; }

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-left: 2px solid #ffffff;
}


.container { padding-inline: 15px; }

button, a { transition: 0.25s ease; }

.h1,
.h2,
.h3 {
  color: #004c4c;
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

.h1 {
  font-size: 1.875rem;
  line-height: 1;
}

.h2 { font-size: 1.5rem; }

.h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.h3 > a { color: inherit; }

.btn {
  position: relative;
  background: #f55e1e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  text-transform: capitalize;
  border: 1px solid #f55e1e;
  padding: 10px 20px;
  z-index: 1;
}

.btn:is(:hover, :focus) {
  background: #000000;
  color: #004c4c;
  border-color: #000000;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  transition: 0.25s ease;
  z-index: -1;
}

.btn:is(:hover, :focus)::before { width: 100%; }

.w-100 { width: 100%; }

.section-subtitle {
  color: #03a9f4;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 5px 20px;
  background: #1a5276;
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.9em;
  color: #023247;
}

.card-badge {
  background: #000000;
  color: #ffffff;
  font-size: 0.75rem;
  text-transform: uppercase;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 4px 10px;
}

.card-badge.green { background: #b9d950; }

.card-badge.orange { background: #f55e1e; }

.has-scrollbar {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  overflow-x: auto;
  margin-inline: -15px;
  padding-inline: 15px;
  scroll-padding-left: 15px;
  padding-bottom: 60px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar > li {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar-track {
  background: #c9d2d7;
  outline: 2px solid #4b5d7a;
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5d7a;
  border: 1px solid #c9d2d7;
  border-radius: 10px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 15%; }



.header {
  position: relative;
  z-index: 2;
}

.header-top {
  background: #003b5c;
  padding-block: 30px;
}

.header-top .container,
.header-top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.header-top .container { gap: 8px 20px; }

.header-top-list { gap: 15px; }

.header-top-link {
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-top-link:is(:hover, :focus) { color: #03a9f4; }

.header-top-link ion-icon {
  color: #03a9f4;
  font-size: 15px;
  --ionicon-stroke-width: 60px;
}

.header-top .wrapper,
.header-top-social-list {
  display: flex;
  align-items: center;
}

.header-top .wrapper { gap: 20px; }

.header-top-social-list { gap: 8px; }

.header-top-social-link {
  color: #03a9f4;
  font-size: 15px;
}

.header-top-btn {
  background: #03a9f4;
  color: #ffffff;
  font-size: 0.813rem;
  font-weight: 700;
  padding: 4px 15px;
}

.header-bottom {
  background: #D3D3D3;
  padding-block: 5px;
}

.header-bottom .logo img { 
  width: 220px;
  margin-inline: auto; 
}

.navbar {
  background: #FFFF;
  position: fixed;
  top: 0;
  left: -310px;
  max-width: 300px;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  z-index: 5;
  padding: 60px 20px;
  visibility: hidden;
  transition: 0.15s ease-in;
}

.navbar.active {
  visibility: visible;
  transform: translateX(310px);
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
}

.navbar-top .logo img { width: 20px; }

.nav-close-btn ion-icon {
  font-size: 20px;
  --ionicon-stroke-width: 45px;
  padding: 5px;
}

.navbar-link {
  color: #154360;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding-block: 15px;
}

.navbar-link:is(:hover, :focus) { color: #03a9f4; }

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
  z-index: 4;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.header-bottom-actions {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-block: 15px 10px;
  box-shadow: -2px 0 30px rgba(237, 71, 52, 0.2);
  z-index: 3;
}

.header-bottom-actions-btn ion-icon {
  color: #154360;
  font-size: 20px;
  margin-inline: auto;
  margin-bottom: 5px;
  --ionicon-stroke-width: 40px;
  transition: 0.25s ease;
}

.header-bottom-actions-btn:is(:hover, :focus) ion-icon { color: #03a9f4; }

.header-bottom-actions-btn span {
  color: #5f9ea0;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}




.hero {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-content {
  flex: 1;
  min-width: 300px;
  text-align: left;
}

.hero-title {
  font-size: 2.9em;
  margin: 20px 0;
}

.hero-text {
  margin-bottom: 30px;
  color: #154360;
  font-size: 1em;
  line-height: 1.8;
  padding-left: 15px;
  border-left: 1px solid #154360;
  margin-right: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #154360;
  color: #03a9f4;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.hero-banner {
  flex: 1;
  min-width: 800px;
  max-width: 900px;
}

.hero-banner video {
  width: 100%;
  height: auto;
}

@media (max-width: 780px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    margin-bottom: 20px;
  }

  .hero-title {
    font-size: 2em;
  }

  .hero-banner {
    min-width: 50%;
    margin-right: 5px;
  }

  .hero-text {
    text-align: left;
    margin-right: 50px;
  }
}

.about {
  padding-block: 100px;
}

.about-banner {
  position: relative;
  margin-bottom: 40px;
}

.about-banner > img {
  max-width: max-content;
  width: 100%;
}

.about .section-subtitle { 
  margin-inline: 0;
  background-color: #1a5276;
  color: #03a9f4;
}

.about .section-title {
  text-align: left;
  margin-bottom: 15px;
}

.about-text {
  color: #154360;
  font-size: 0.875rem;
  line-height: 1.7;
  margin-bottom: 30px;
}

.about-list { margin-bottom: 30px; }

.about-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.about-item-icon {
  background: #1a5276;
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.about-item-icon ion-icon {
  color: #03a9f4;
  font-size: 18px;
}

.about-item-text {
  color: #154360;
  font-size: 0.875rem;
}

.about .callout {
  background: rgba(7, 78, 53, 0.05);
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.8;
  padding: 20px 25px;
  border-left: 4px solid #03a9f4;
  margin-bottom: 40px;
  background-color: #1a5276;
}

.about .btn {
  max-width: max-content;
  text-transform: uppercase;
}

@media (min-width: 500px) {
  .about-banner > img {
    width: 75%;
  }

}





.service {
  background: #dde7f0;
  padding-block: 100px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.service-card {
  position: relative;
  background: #ffffff;
  text-align: center;
  padding: 40px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card .card-icon {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 20px;
}

.service-card .card-title {
  text-align: center;
  margin-bottom: 15px;
}

.service-card .card-title > a:hover,
.service-card .card-title > a:focus {
  color: #03a9f4;
}

.service-card .card-text {
  color: #154360;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: center;
}

.service-card .card-link {
  color: #8e8e8e;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.section-subtitle {
  color: #03a9f4;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 20px;
  background: #1a5276;
  width: max-content;
  border-radius: 50px;
  margin-inline: auto;
  margin-bottom: 15px;
  text-align: center;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.service-card:hover .card-link,
.service-card:focus .card-link {
  color: #03a9f4;
}

.service-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #0dc5fd;
  transition: 0.3s ease;
}

.service-card:hover::after,
.service-card:focus::after {
  width: 100%;
}

/*-----------------------------------*\
  #PROPERTY
\*-----------------------------------*/

.property {
  padding-block: 100px;
}

.property-card {
  border: 1px solid #f0f8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card .card-banner {
  position: relative;
  aspect-ratio: 2 / 1.5;
  overflow: hidden;
}

.property-card .card-banner a {
  height: 100%;
}

.property-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
}

.property-card:hover .card-banner img {
  transform: scale(1.1);
}

.property-card .card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 30%);
  pointer-events: none;
  z-index: 1;
}

.property-card .banner-actions {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px 10px;
  z-index: 1;
}

.banner-actions-btn {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.banner-actions-btn ion-icon {
  font-size: 16px;
}

.banner-actions-btn:first-child {
  margin-right: auto;
}

.banner-actions-btn:hover,
.banner-actions-btn:focus {
  color: #05d0f4;
}

.property-card .card-content {
  padding: 30px 15px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-price {
  color: #154360;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-price strong {
  font-size: 1.25rem;
  font-weight: 600;
}

.property-card .card-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.property-card .card-title > a:hover,
.property-card .card-title > a:focus {
  color: #05d0f4;
}

.property-card .card-text {
  color: #154360;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.property-card .card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.property-card .card-item {
  padding-block: 5px;
  color: #8e8e8e;
  font-size: 1rem;
}

.property-card .card-item:not(:last-child) {
  padding-right: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.property-card .card-item strong,
.property-card .card-item ion-icon {
  display: inline-block;
}

.property-card .card-item ion-icon {
  margin-left: 2px;
  margin-bottom: -2px;
}

.property-card .card-item span {
  margin-top: 5px;
}

.card-footer {
  padding: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.author-name > a {
  color: #154360;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3px;
}

.author-name > a:hover,
.author-name > a:focus {
  color: #05d0f4;
}

.author-title {
  color: #8e8e8e;
  font-size: 0.875rem;
}

.card-footer-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-footer-actions-btn {
  background: #f2f2f2;
  color: #8e8e8e;
  width: 35px;
  height: 35px;
  display: grid;
  font-size: 18px;
}

.card-footer-actions-btn:hover,
.card-footer-actions-btn:focus {
  background: #05d0f4;
  color: #ffffff;
}




/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.features {
  background: #dde7f0;
  padding-block: 100px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 20px;
}

.features-list > li {
  width: calc(50% - 10px);
}

.features-card {
  position: relative;
  background: #ffffff;
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features-card:hover,
.features-card:focus {
  background: #154360;
}

.features-card .card-icon {
  background: #f7f9fa;
  color: #154360;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 28px;
}

.features-card .card-icon ion-icon {
  --ionicon-stroke-width: 20px;
}

.features-card .card-title {
  color: #154360;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  transition: color 0.3s ease;
}

.features-card:hover .card-title,
.features-card:focus .card-title {
  color: #ffffff;
}

.features-card .card-btn {
  background: #ffffff;
  color: #8e8e8e;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease;
}

.features-card:hover .card-btn,
.features-card:focus .card-btn {
  color: #05d0f4;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  padding-block: 100px;
}

.blog-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card .card-banner {
  overflow: hidden;
  aspect-ratio: 2 / 1.5;
}

.blog-card .card-banner img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.blog-card:hover .card-banner img,
.blog-card:focus .card-banner img {
  transform: scale(1.1);
}

.blog-content {
  padding: 30px;
}

.blog-card .card-meta-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.blog-card .card-meta-link,
.blog-card .publish-date {
  color: #154360;
  font-size: 0.875rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.blog-card .card-meta-link ion-icon,
.blog-card .publish-date ion-icon {
  color: #154360;
}

.blog-card .card-meta-link:hover,
.blog-card .card-meta-link:focus {
  color: #154360;
}

.blog-title {
  font-size: 1rem;
  font-weight: 600;
}

.blog-card .blog-title:hover,
.blog-card .blog-title:focus {
  color: #154360;
}

.blog-content-bottom {
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card .read-more-btn {
  color: #154360;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background: linear-gradient(to bottom, #ffffff 50%, #1a1a1a 50%);
}

.cta-card {
  background: #1a5276;
  padding: 50px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-card .card-content {
  max-width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.cta-card .card-title {
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 15px;
}

.cta-card .card-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.8;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  background: #ffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
  margin-inline: auto;
}

.cta-btn:hover,
.cta-btn:focus {
  background: none;
  color: #05d0f4;
  border-color: transparent;
}

.cta-btn::before {
  background: #000000;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background: #1a1a1a;
  color: #ffffff;
  margin-bottom: 68px;
}

.footer .container {
  padding-inline: 30px;
}

.footer a {
  color: inherit;
}

.footer-top {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-brand {
  margin-bottom: 70px;
}

.footer-brand .logo img {
  margin-bottom: 15px;
  width: 100px;
}

.section-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 30px;
  max-width: 45ch;
}

.contact-list {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

.contact-link {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.contact-link ion-icon {
  font-size: 18px;
}

.contact-link address,
.contact-link span {
  font-size: 1rem;
  transition: color 0.3s ease;
}

.contact-link:hover span,
.contact-link:focus span {
  color: #29c9f1;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-list:not(:last-child) {
  margin-bottom: 50px;
}

.footer-list-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-link {
  font-size: 1rem;
  padding-block: 10px;
}

.footer-link:hover,
.footer-link:focus {
  color: #02d8f9;
}

.footer-bottom {
  background: #141414;
  padding-block: 25px;
}

.copyright {
  font-size: 1rem;
  text-align: center;
}

.copyright a {
  display: inline-block;
}

.copyright a:hover,
.copyright a:focus {
  color: #02d8f9;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 600px screen
 */

@media (min-width: 600px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 1.875rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .has-scrollbar {
    gap: 25px;
    margin-inline: -25px;
    padding-inline: 25px;
    scroll-padding-left: 25px;
  }

  .has-scrollbar > li {
    min-width: calc(50% - 12.5px);
  }

  /**
   * SERVICE
   */

  .service-list > li {
    width: calc(50% - 15px);
  }

  /**
   * PROPERTY
   */

  .property .container {
    max-width: unset;
    padding-inline: 25px;
  }

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.5rem;
  }

  /**
   * FOOTER
   */

  .footer-link-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 2.5rem;
    --fs-5: 0.938rem;
    --fs-6: 0.875rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .btn {
    --fs-5: 1rem;
    padding: 12px 28px;
  }

  /**
   * HEADER
   */

  .header-top {
    padding-block: 5px;
  }

  .header-top .wrapper {
    margin-left: auto;
  }

  .header-top-social-list {
    gap: 12px;
  }

  .header-top-social-link {
    font-size: 1rem;
  }

  .header-top-btn {
    padding: 10px 20px;
  }

  .header-bottom-actions {
    all: unset;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-bottom-actions-btn ion-icon {
    margin-bottom: 0;
  }

  .header-bottom-actions-btn span {
    display: none;
  }

  .header-bottom-actions-btn {
    background: #ffffff;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /**
   * ABOUT
   */

  .about .section-title {
    max-width: 30ch;
  }
  

  .about-text {
    max-width: 55ch;
	text-align: left;
  }

  .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /**
   * FEATURES
   */

  .features-list > li {
    width: calc(33.33% - 13.33px);
  }

  .features-card {
    gap: 20px;
  }

  .features-card .card-icon {
    width: 80px;
    height: 80px;
    font-size: 32px;
  }

  .features-card .card-title {
    --fs-6: 1.125rem;
  }

  /**
   * BLOG
   */

  .blog-card {
    --fs-7: 0.875rem;
  }

  .blog-title {
    font-size: 1.25rem;
  }

  .blog .card-meta-list {
    gap: 30px;
  }

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.625rem;
  }

  /**
   * FOOTER
   */

  .footer {
    margin-bottom: 0;
  }

}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 3.125rem;
    --fs-4: 1.375rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 970px;
  }

  .btn {
    padding: 15px 40px;
  }

  /**
   * HEADER
   */

  .header-top-list,
  .header-top .wrapper {
    gap: 30px;
  }

  /**
   * ABOUT
   */

  .about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
  }

  .about-banner {
    margin-bottom: 0;
  }

  .about-banner > img {
    width: 100%;
  }

  /**
   * SERVICE
   */

  .service-list > li {
    width: calc(33.33% - 20px);
  }

  /**
   * PROPERTY
   */

  .property-card .card-content {
    padding-inline: 30px;
  }

  .card-footer {
    padding: 20px 30px 30px;
  }

  /**
   * FEATURES
   */

  .features-list {
    column-gap: 30px;
  }

  .features-list > li {
    width: calc(25% - 30px);
  }

  /**
   * BLOG
   */

  .blog-title {
    font-size: 1.375rem;
  }

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 1.875rem;
    --fs-5: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .cta-card .card-content,
  .cta-btn {
    margin: 0;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    display: flex;
    justify-content: space-between;
  }

  .footer-brand {
    max-width: 300px;
    margin-bottom: 0;
  }

  .footer-link-box {
    flex-basis: 550px;
  }

}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-2: 2.75rem;
    --fs-4: 1.5rem;

  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1200px;
  }

  .has-scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }

  /**
   * HEADER
   */

  .header-bottom {
    padding-block: 30px;
  }

  .header-bottom-actions-btn:last-child,
  .navbar-top,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
  }

  .navbar-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar-link {
    color: #003300;
    --fs-5: 1.125rem;
    text-transform: capitalize;
  }

  .header {
    padding-bottom: 114px;
  }

  .header-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .header.active .header-bottom {
    position: fixed;
    bottom: auto;
    top: -94px;
    padding-block: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.25s ease-out forwards;
  }

  @keyframes slideDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
  }

  /**
   * HERO
   */

  .hero-text {
    padding-left: 30px;
    max-width: 450px;
    margin-bottom: 40px;
  }
  .hero-title {
    font-size: 2.9em;
  }

  /**
   * FEATURES
   */

  .features-card .card-icon {
    width: 100px;
    height: 100px;
    font-size: 45px;
  }

  .features-card .card-title {
    --fs-6: 1.375rem;
  }

  /**
   * CTA
   */

  .cta-card {
    --fs-2: 2.25rem;
    padding-inline: 60px;
  }

  /**
   * FOOTER
   */

  .footer {
    --fs-5: 1rem;
  }

  .footer-link-box {
    flex-basis: 700px
